# General files
!.gitignore
!.gitkeep
.DS_Store
tags
*~
*.swp
.*
~*
*.original
*.zip
*.txt
!README.txt
!servers.txt
!commands.txt
!memory.txt

# Object files
*.o

# Problem files
!issue*
!problems/.gitkeep
!answers/.gitkeep
!NL_QHUGE*.txt
!NL_QLINE*.txt
!NL_QADJ*.txt

# Executables
*.exe
*.stackdump
*.out
sim
solver

# Python files
*.pyc
*.pkl

# Log files
*.log

# Problem generator
create_q/
